/* CSS Style*/

		a:link {
			color: #0000FF;
			text-decoration: none ;
			/*border-bottom:#CCCCCC 1px dotted;*/
		}
		a:visited {
			text-decoration: none ;
			color: #FF0000;
			/*border-bottom:#CCCCCC 1px dashed;*/
		}
		a:hover {
			text-decoration:underline ;
			color: #CC99FF;
			/*border-bottom:#339900 1px dashed;	*/
		}
		a:active {
			text-decoration: none ;
			color: #996699;
		}
		.table{
			border-collapse: collapse; 
			font-size: 9pt; 
			font-family: Arial;
			border:1px solid   #d7dae0;
			bordercolor:#dfe8f6;
			width:100%;
			background-color:#eff4fb;
			text-align:center;
			table-layout:fixed;
		}
		
		.table_2{
			border-collapse: collapse; 
			font-size: 9pt; 
			font-family: Arial;
			border:1px solid   #d7dae0;
			bordercolor:#dfe8f6;
			width:95%;
			background-color:#eff4fb;
			text-align:center;
			table-layout:fixed;
		}
		.table_3{
			border-collapse: collapse; 
			font-size: 9pt; 
			font-family: Arial;
			border:1px solid   #d7dae0;
			bordercolor:#dfe8f6;
			background-color:#eff4fb;
			text-align:center;
			table-layout:fixed;
			align:center;
		}
		.div_1{
			border:1px solid   #d7dae0;
			//padding-top:5px;
			padding-left:100px;
			//padding-right:5px;
			//padding-bottom:5px;
		}
		
		.table2{
			border-collapse: collapse; 
			font-size: 9pt; 
			font-family: Arial;
			border:1px solid   #C5CBDC;
			width:100%;
			text-align:center;
			table-layout:fixed;
		}
		
		.table3{
			border-collapse: collapse; 
			font-size: 9pt; 
			font-family: Arial;
			border:1px solid   #C5CBDC;
			width:95%;
			text-align:center;
			table-layout:fixed;
		}
		
		.th{
			border-right:1px solid   #C5CBDC;
			border-bottom:1px solid   #C5CBDC;		
			text-align : right ;
			width:20%;
			background-color: #f0f0f0;
			height:30px;
			font-size:14px;
			color:#000000;
		}
		
		.th_2{
			border-right:1px solid   #C5CBDC;
			border-bottom:1px solid   #C5CBDC;		
			text-align : right ;
			width:18%;
			background-color: #f0f0f0;
			height:30px;
			font-size:14px;
			color:#000000;
		}
		
		.th2{
			border-right:1px solid   #C5CBDC;
			border-bottom:1px solid   #C5CBDC;
			text-align:left;
			width:30%;
			height:30;
			font-size:14px;
			color:#009;
		}
		
		.th2_2{
			border-right:1px solid   #C5CBDC;
			border-bottom:1px solid   #C5CBDC;
			text-align:left;
			width:34%;
			color:#009;
			height:30;
			font-size:14px;
		}
		
		.th3{
			border-right:1px solid   #C5CBDC;
			border-bottom:1px solid   #C5CBDC;
			text-align:left;
			width:10%;
			height:50px;
			font-size:14px;			
			margin:0 0 0 5px;
			color:#009;
			word-break:break-all;
		}
		
		.th4{
			border-right:1px solid   #C5CBDC;
			border-bottom:1px solid   #C5CBDC;		
			text-align : right ;
			width:20%;
			background-color: #f0f0f0;
			height:30px;
			font-size:14px;
			color:#000000;
			/*color:#799BF4;*/
		}
		
		.th4_2{
			border-right:1px solid   #C5CBDC;
			border-bottom:1px solid   #C5CBDC;		
			text-align : right ;
			background-color: #f0f0f0;
			width:10%;
			height:30px;
			font-size:14px;
			color:#000000;
			/*color:#799BF4;*/
		}
		
		.th5{
			border-right:1px solid   #C5CBDC;
			border-bottom:1px solid   #C5CBDC;
			text-align:left;
			width:80%;
			height:30;
			font-size:14px;
			color:#009;
		}
		
		.th6{
			border-right:1px solid   #C5CBDC;
			border-bottom:1px solid   #C5CBDC;
			text-align:left;
			width:80%;
			height:200px;
			font-size:14px;
			margin:0 0 0 5px;
			color:#009;
			word-break:break-all;
			overflow:auto;
		}
		
		.duty_th{
			border-right:1px solid   #C5CBDC;
			border-bottom:1px solid   #C5CBDC;
			text-align:center;
			width:20%;
			height:30px;
			font-size:14px;			
			color:#009;
		}
		
		.duty_th2{
			border-right:1px solid   #C5CBDC;
			border-bottom:1px solid   #C5CBDC;
			text-align:center;
			width:40%;
			height:30px;
			font-size:14px;	
			color:#009;		
		}
		
		.unit_name{
			border-right:1px solid   #C5CBDC;
			border-bottom:1px solid   #C5CBDC;
			text-align:left;
			width:80%;
			font-size:14px;
			margin:0 0 0 5px;
			color:#009;
		}
		
		.address{
			border-right:1px solid   #C5CBDC;
			border-bottom:1px solid   #C5CBDC;
			text-align:left;
			width:10%;
			height:100px;
			font-size:14px;			
			margin:0 0 0 5px;
			color:#009;
			word-break:break-all;
		}
		
		.sendArea{
			border-right:1px solid   #C5CBDC;
			border-bottom:1px solid   #C5CBDC;
			text-align:left;
			width:10%;
			height:50px;
			font-size:14px;			
			margin:0 0 0 5px;
			color:#009;
		}
			
		.tabelText1{
			font-weight: 860;			
			font-size:12px;
			margin:0 5px 0 0;
			width:100%;
		}
		
		.tabelTextdom{
			font-weight: 860;			
			font-size:12px;
			margin:0 5px 0 0;
			width:100%;
			text-align:left;
		}
		
		.tabelText2{
			font-weight: 440;
			margin:0 0 0 5px;
			font-size:12px;
			color:#3d4c65;
			word-break:break-all;
		}
		
		.tabelText_p{
			font-weight: 800;
			margin:0 0 0 5px;
			font-size:12px;
			/*color:#666666;*/
			word-break:break-all;
		}
		
		.tabelTextser{
			font-weight: 440;
			margin:0 0 0 5px;
			font-size:14px;
			/*color:#666666;*/
			color:#000000;
			word-break:break-all;
		}
		
		.tabelText3{
			font-weight: 400;
			margin:0 0 0 5px;
			font-size:14px;
			color:red;
		}
		
		.p{
			font-size:20px;
			font-weight:900;
			margin:10px 0 10px 0;
			color:#000000;
			
		}
		
		.template_body{
			font-family: Arial; 
			font-size: 14px;
			text-align:center			
		}
		
		.template_title{
			font-weight: 900;
			margin:30px 0 20px 0;
			font-size:20px;
			text-align:center;
			color:#009;
		}
		
		.template_title_new{
			font-weight: 700;
			margin:30px 0 10px 0;
			font-size:20px;
			text-align:center;
			font-family:"����";
			color:#009;
		}
		
		.template_table{
			font-size: 10pt; 
			font-family: Arial;
			width:90%;
			/*margin:10px 10px 10px 10px;*/	
			margin:auto;
			align:center;		
		}
		.template_table_comm{
			border-left-color: blue;
			border-bottom-color: blue;
			border-right-color: blue;
			border-top-color: blue;
			border-bottom:thin;
			border-left:thin;
			border-right:thin;
			border:1;
			border-top:thin;
			font-size: 10pt; 
			font-family: Arial;
			width:90%;
			/*margin:10px 10px 10px 10px;*/	
			margin:auto;
			align:center;		
		}
		.template_div{
			text-align:center;
			/*background:red;*/
			/*margin:0 auto;*/
		}
		.template_hr{
			color:#808080;
			width:100%;			
			
		}
		.template_content{
		    padding:10px 0 10px 0;
			margin:10px 10px 10px 10px;
			font-size:14px;
			font-weight: 400;
		}
		.template_summer{
			line-height: 150%;
			font-weight: 900;
		}
		.template_keyword_2{
			text-align:center;
			font-size:12px;
			font-weight: 500;
		}
		.website_th{
			border-right:1px solid   #C5CBDC;
			border-bottom:1px solid   #C5CBDC;
			text-align:center;
			width:15%;
			height:30px;
			font-size:14px;
			font-weight: 900;	
			color:#009;	
		}		
		.website_th2{
			border-right:1px solid   #C5CBDC;
			border-bottom:1px solid   #C5CBDC;
			text-align:center;
			width:15%;
			height:30px;
			font-size:14px;
			color:#009;
		}		
		
		
		.workLogth2{
			border-right:1px solid   #C5CBDC;
			border-bottom:1px solid   #C5CBDC;
			text-align:center;
			/*width:30px;*/
			height:30;
			font-size:14px;
			color:#009;
		}
		
		.workLogth2_2{
			border-right:1px solid   #C5CBDC;
			border-bottom:1px solid   #C5CBDC;
			text-align:center;
		/*	width:30px;*/
			color:#009;
			height:30;
			font-size:14px;
		}
		.th7{
			padding-top:2px;
			border-right:1px solid   #C5CBDC;
			border-bottom:1px solid   #C5CBDC;		
			text-align : center ;
			width:14%;
			background-color: #f0f0f0;
			height:30px;
			font-size:14px;
			color:#000000;
		}
		
		.th8{
			padding-top:2px;
			border-right:1px solid   #C5CBDC;
			border-bottom:1px solid   #C5CBDC;
			text-align:center;
			width:14%;
			height:20px;
			font-size:14px;
			color:#009;
		}
		.tabelText1_1{
			font-weight: 440;			
			font-size:14px;
			color:#000000;
			width:100%;

		}
		
		
		
		.monitor_th1{
			border-right:1px solid   #C5CBDC;
			border-bottom:1px solid   #C5CBDC;		
			text-align : right ;
			width:15%;
			background-color: #f0f0f0;
			height:30px;
			font-size:14px;
			color:#000000;
		}
		
		.monitor_th_center{
			border-right:1px solid   #C5CBDC;
			border-bottom:1px solid   #C5CBDC;		
			text-align : center ;
			width:15%;
			background-color: #f0f0f0;
			height:30px;
			font-size:14px;
			color:#000000;
		}
		
		.monitor_th_center2{
			border-right:1px solid   #C5CBDC;
			border-bottom:1px solid   #C5CBDC;
			text-align:center;
			width:18%;
			height:30px;
			font-size:14px;
			color:#009;
		}
		
		.monitor_th2{
			border-right:1px solid   #C5CBDC;
			border-bottom:1px solid   #C5CBDC;
			text-align:left;
			width:18%;
			height:30px;
			font-size:14px;
		}
		
		.log_th1{
			padding-top:2px;
			border-right:1px solid   #C5CBDC;
			border-bottom:1px solid   #C5CBDC;		
			text-align : right ;
			width:9%;
			height:30px;
			font-size:14px;
		}
		
		.log_th2{
			padding-top:2px;
			border-right:1px solid   #C5CBDC;
			border-bottom:1px solid   #C5CBDC;
			text-align:left;
			width:11%;
			height:30px;
			font-size:14px;
			word-wrap:break-word; overflow:hidden;
		}
		
		.service_th1{
			padding-top:2px;
			border-right:1px solid   #C5CBDC;
			border-bottom:1px solid   #C5CBDC;		
			text-align : center ;
			background-color: #f0f0f0;
			height:30px;
			font-size:14px;
			color:#000000;
		}
		
		.service_th2{
			padding-top:2px;
			border-right:1px solid   #C5CBDC;
			border-bottom:1px solid   #C5CBDC;
			text-align:left;
			height:30px;
			font-size:14px;
			color:#009;
		}
		.service_th3{
			padding-top:2px;
			border-right:1px solid   #C5CBDC;
			border-bottom:1px solid   #C5CBDC;
			text-align:center;
			height:30px;
			font-size:14px;
			color:#009;
		}
		
		.cmdrule_th1{
			padding-top:2px;
			border-right:1px solid   #C5CBDC;
			border-bottom:1px solid   #C5CBDC;		
			text-align : center ;
			text-valign : middle ;
			background-color: #f0f0f0;
			height:30px;
			font-size:14px;
			color:#000000;
		}
		.cmdrule_ser{
			border-right:1px solid   #C5CBDC;
			border-bottom:1px solid   #C5CBDC;		
			text-align :left;
			width:91%;
			height:30px;
			font-size:14px;
			color:#000000;
		}
		.monitor_th2{
			border-right:1px solid   #C5CBDC;
			border-bottom:1px solid   #C5CBDC;
			text-align:center;
			width:18%;
			height:30px;
			font-size:14px;
			background-color:#eff0f4
		}
		.monitor_ser{
			border-right:1px solid   #C5CBDC;
			border-bottom:1px solid   #C5CBDC;
			text-align:left;
			width:89%;
			height:30px;
			font-size:14px;
		}
		
		
		
		
		.cmdrule_th2{
			padding-top:2px;
			border-right:1px solid   #C5CBDC;
			border-bottom:1px solid   #C5CBDC;
			text-align:center;
			width:11%;
			height:30px;
			font-size:14px;
			color:#009;
		}
		.cmdrule_th4{
			padding-top:2px;
			border-right:1px solid   #C5CBDC;
			border-bottom:1px solid   #C5CBDC;
			text-align:center;
			width:30%;
			height:30px;
			font-size:14px;
			color:#009;
		}
		.cmdrule_thip{
			padding-top:2px;
			border-right:1px solid   #C5CBDC;
			border-bottom:1px solid   #C5CBDC;
			text-align:center;
			height:30px;
			font-size:14px;
		}
		
		.houseInfo_th1{
			padding-top:2px;
			border-right:1px solid   #C5CBDC;
			border-bottom:1px solid   #C5CBDC;
			text-align:center;
			width:20%;
			height:30px;
			font-size:14px;
			//color:#009;
			background-color: #f0f0f0;
			color:#000000;
		}
		.houseInfo_th2{
			border-right:1px solid   #C5CBDC;
			border-bottom:1px solid   #C5CBDC;
			text-align:center;
			width:60%;
			height:30px;
			font-size:14px;
			//color:#009;
			padding-top:5px;
			padding-left:5px;
			padding-right:5px;
			padding-bottom:5px;
			color:#3d4c65;
			word-wrap:break-word; overflow:hidden;

		}
		.houseInfo_tb1{
			padding-top:2px;
			border-right:1px solid   #C5CBDC;
			border-bottom:1px solid   #C5CBDC;		
			text-align : center ;
			text-valign : middle ;
			background-color: #f0f0f0;
			height:30px;
			font-size:14px;
			width:14%;
			color:#000000;
		}
		.cmdrule_ser{
			padding-top:2px;
			border-right:1px solid   #C5CBDC;
			border-bottom:1px solid   #C5CBDC;
			text-align:center;
			width:89%;
			height:30px;
			font-size:14px;
			color:#009;
		}
		.cmdrule_th3{
			padding-top:2px;
			border-right:1px solid   #C5CBDC;
			border-bottom:1px solid   #C5CBDC;
			text-align:left;
			width:11%;
			height:30px;
			font-size:14px;
			color:#009;
		}
		
		.cmdrule_td1{
			padding-top:2px;
			border-right:1px solid   #C5CBDC;
			border-bottom:1px solid   #C5CBDC;		
			text-align : right ;
			//width:9%;
			background-color: #f0f0f0;
			height:30px;
			font-size:14px;
			color:#000000;
		}
		
		.cmdrule_td2{
			padding-top:2px;
			border-right:1px solid   #C5CBDC;
			border-bottom:1px solid   #C5CBDC;
			text-align:left;
			//width:11%;
			height:30px;
			font-size:14px;
			color:#009;
		}
		.cmdrule_td3{
			padding-top:2px;
			border-right:1px solid   #C5CBDC;
			border-bottom:1px solid   #C5CBDC;		
			text-align : right ;
			width:11%;
			background-color: #f0f0f0;
			height:30px;
			font-size:14px;
			color:#000000;
		}
		.houseMonitorData_th1{
			padding-top:2px;
			border-right:1px solid   #C5CBDC;
			border-bottom:1px solid   #C5CBDC;		
			text-align : right ;
			width:15%;
			background-color: #f0f0f0;
			height:30px;
			font-size:14px;
			color:#000000;
		}
		
		.houseMonitorData_th2{
			padding-top:2px;
			border-right:1px solid   #C5CBDC;
			border-bottom:1px solid   #C5CBDC;
			text-align:left;
			width:18%;
			height:30px;
			font-size:14px;
			color:#009;
		}
		
		.siteUseAssort_top{
			//border-right:1px solid   #C5CBDC;
			//border-bottom:1px solid   #C5CBDC;
			text-align:center;
			width:18%;
			height:30px;
			font-size:14px;
			color:#009;
		}
		
		.siteUseAssort_td1{
			padding-top:5px;
			padding-left:5px;
			padding-right:5px;
			padding-bottom:5px;
			border-right:1px solid   #C5CBDC;
			border-bottom:1px solid   #C5CBDC;
			text-align : right ;
			background-color: #f0f0f0;
			width:18%;
			height:30px;
			font-size:14px;
			color:#000000;
		}
		
		.siteUseAssort_td2{
			//padding-top:2px;
			//border-right:1px solid   #C5CBDC;
			//border-bottom:1px solid   #C5CBDC;		
			text-align : left ;
			//width:9%;
			//background-color: #f0f0f0;
			height:10px;
			font-size:12px;
			color:#000000;
		}
		
	    .x-selectable, .x-selectable * {       
	        -moz-user-select: text! important ;       
	        -khtml-user-select: text! important ;       
		}
		
		.share_th1{
			padding-top:2px;
			border-right:1px solid   #C5CBDC;
			border-bottom:1px solid   #C5CBDC;		
			text-align : right ;
			width:11%;
			background-color: #f0f0f0;
			height:30px;
			font-size:14px;
			color:#000000;
		}
		
		.share_th2{
			padding-top:5px;
			padding-left:5px;
			padding-right:5px;
			padding-bottom:5px;
			border-right:1px solid   #C5CBDC;
			border-bottom:1px solid   #C5CBDC;
			text-align:left;
			width:9%;
			height:30px;
			font-size:14px;
			color:#009;
		}
		
		.share_th2_long{
			padding-top:5px;
			padding-left:5px;
			padding-right:5px;
			padding-bottom:5px;
			border-right:1px solid   #C5CBDC;
			border-bottom:1px solid   #C5CBDC;
			text-align:left;
			width:18%;
			height:30px;
			font-size:14px;
			color:#009;
		}

		.shareTableText2{
			font-weight: 440;
			margin:0 0 0 5px;
			font-size:12px;
			color:#3d4c65;
			word-break:break-all;
			word-wrap:break-word; overflow:hidden;
		}
		
		.gray { 
    		-webkit-filter: grayscale(100%);
    		-moz-filter: grayscale(100%);
   	 		-ms-filter: grayscale(100%);
    		-o-filter: grayscale(100%);
    		filter: grayscale(100%);
    		filter: gray;
		}