<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ql.basepro.system.dao.CommonRegionMapper">

	<resultMap type="com.ql.basepro.system.model.CommonRegion" id="commonRegionResultMap">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="pid" column="pid" />
		<result property="visable" column="visable" />

	</resultMap>

    <insert id="addEntity" parameterType="com.ql.basepro.system.model.CommonRegion" useGeneratedKeys="true" keyProperty="id">
	    INSERT INTO t_common_region
	      (name,pid,visable)
	    VALUES
	      (#{name,jdbcType=VARCHAR},#{pid,jdbcType=VARCHAR},#{visable,jdbcType=VARCHAR})
	</insert>
	
	<delete id="delEntity" parameterType="long">
		delete from t_common_region
		<where>
			id = #{id}
		</where>
	</delete>
	
	<delete id="delBatchEntity" parameterType="String">
		delete from t_common_region
		<where>
			<if test="ids != null">
				id in 
				(
					<foreach collection="ids" index="index" separator="," item="item" >
						#{item}
					</foreach>
				)
			</if>
		</where>
	</delete>
	
	<update id="editEntity" parameterType="com.ql.basepro.system.model.CommonRegion">
		update t_common_region
		<set>
			<if test="name != null">name=#{name},</if>
			<if test="pid != null">pid=#{pid},</if>
			<if test="visable != null">visable=#{visable}</if>

		</set>
		where id = #{id}
	</update>
	
	
	<select id="count" resultType="long" parameterType="com.ql.basepro.system.model.CommonRegion">
		SELECT count(1) from t_common_region
		<where>
			<if test="id != null">id = #{id}</if>
			<if test="name != null and name !='' "> AND name = #{name}</if>
			<if test="pid != null and pid !='' "> AND pid = #{pid}</if>
			<if test="visable != null and visable !='' "> AND visable = #{visable}</if>

		</where>
	</select>
	
	<select id="list" resultMap="commonRegionResultMap" parameterType="com.ql.basepro.system.model.CommonRegion">
		SELECT 
        	t.id AS id,
        	t.name AS name,
        	t.pid AS pid,
        	t.visable AS visable
        FROM
        	t_common_region t
        <where>	
			<if test="id != null">id = #{id}</if>
			<if test="name != null and name != '' "> AND name = #{name}</if>
			<if test="pid != null and pid != '' "> AND pid = #{pid}</if>
			<if test="visable != null and visable != '' "> AND visable = #{visable}</if>
		</where>
	</select>
	
	<select id="getEntityById" parameterType="long" resultType="com.ql.basepro.system.model.CommonRegion">
		SELECT 
        	t.id AS id,
        	t.name AS name,
        	t.pid AS pid,
        	t.visable AS visable
        FROM t_common_region t
        WHERE id = #{id}
	</select>
</mapper>
