<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.surfilter.scma.dao.GuanggaoMapper">

	<resultMap type="com.surfilter.scma.model.Guanggao" id="guanggaoResultMap">
		<id property="id" column="id" />
		<result property="title" column="title" />
		<result property="zuozhe" column="zuozhe" />
		<result property="content" column="content" />
		<result property="fabuTime" column="fabuTime" />

	</resultMap>

    <insert id="addEntity" parameterType="com.surfilter.scma.model.Guanggao">
    	<selectKey keyProperty="id" resultType="long" order="BEFORE">
			SELECT guanggao_SE.NEXTVAL FROM DUAL
		</selectKey>
	    INSERT INTO guanggao
	      (id,title,zuozhe,content,fabu_time)
	    VALUES
	      (#{id},#{title,jdbcType=VARCHAR},#{zuozhe,jdbcType=VARCHAR},#{content,jdbcType=VARCHAR},#{fabuTime,jdbcType=TIMESTAMP})
	</insert>
	
	<delete id="delEntity" parameterType="long">
		delete from guanggao
		<where>
			id = #{id}
		</where>
	</delete>
	
	<delete id="delBatchEntity" parameterType="String">
		delete from guanggao
		<where>
			<if test="ids != null">
				id in 
				(
					<foreach collection="ids" index="index" separator="," item="item" >
						#{item}
					</foreach>
				)
			</if>
		</where>
	</delete>
	
	<update id="editEntity" parameterType="com.surfilter.scma.model.Guanggao">
		update guanggao
		<set>
			<if test="title != null">title=#{title},</if>
			<if test="zuozhe != null">zuozhe=#{zuozhe},</if>
			<if test="content != null">content=#{content},</if>
			<if test="fabuTime != null">fabu_time=#{fabuTime}</if>

		</set>
		where id = #{id}
	</update>
	
	
	<select id="count" resultType="long" parameterType="com.surfilter.scma.model.Guanggao">
		SELECT count(1) from guanggao
		<where>
			<if test="id != null">id = #{id}</if>
			<if test="title != null and title !='' "> AND title = #{title}</if>
			<if test="zuozhe != null and zuozhe !='' "> AND zuozhe = #{zuozhe}</if>
			<if test="content != null and content !='' "> AND content = #{content}</if>
			<if test="fabuTimeBefore != null"> AND fabu_time >= #{fabuTimeBefore}</if>
			<if test="fabuTimeAfter != null"> AND <![CDATA[fabu_time <= #{fabuTimeAfter}]]></if>

		</where>
	</select>
	
	<select id="list" resultMap="guanggaoResultMap" parameterType="com.surfilter.scma.model.Guanggao">
		SELECT 
        	t.id AS id,
        	t.title AS title,
        	t.zuozhe AS zuozhe,
        	t.content AS content,
        	t.fabu_time AS fabuTime
        FROM
        	guanggao t
        <where>	
			<if test="id != null">id = #{id}</if>
			<if test="title != null and title != '' "> AND title = #{title}</if>
			<if test="zuozhe != null and zuozhe != '' "> AND zuozhe = #{zuozhe}</if>
			<if test="content != null and content != '' "> AND content = #{content}</if>
			<if test="fabuTimeBefore != null"> AND fabu_time >= #{fabuTimeBefore}</if>
			<if test="fabuTimeAfter != null"> AND <![CDATA[fabu_time <= #{fabuTimeAfter}]]></if>
			<if test="isExport !=null and isExport =='true'">
				 AND t.COMMAND_FILE_ID IN (
 					<foreach collection="ids" index="index" separator="," item="item" >
  						${item}
					</foreach>
				 )
			</if>

		</where>
		<if test="sort !=null and sort !=''">
			ORDER BY ${sort} ${order}
		</if>
	</select>
	
	<select id="getEntityById" parameterType="long" resultType="com.surfilter.scma.model.Guanggao">
		SELECT 
        	t.id AS id,
        	t.title AS title,
        	t.zuozhe AS zuozhe,
        	t.content AS content,
        	t.fabu_time AS fabuTime
        FROM guanggao t
        WHERE id = #{id}
	</select>
</mapper>
