<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.surfilter.scma.dao.ProgramMapper">

	<resultMap type="com.surfilter.scma.model.Program" id="programResultMap">
		<id property="id" column="id" />
		<result property="pname" column="pname" />
		<result property="ptyp" column="ptyp" />
		<result property="psttime" column="psttime" />
		<result property="pdetime" column="pdetime" />
		<result property="ptxt" column="ptxt" />
		<result property="actor" column="actor" />
		<result property="director" column="director" />
		<result property="dizhi" column="dizhi" />
		<result property="fileurl" column="fileurl" />
		<result property="fabuTime" column="fabuTime" />

	</resultMap>

    <insert id="addEntity" parameterType="com.surfilter.scma.model.Program">
    	<selectKey keyProperty="id" resultType="long" order="BEFORE">
			SELECT program_SE.NEXTVAL FROM DUAL
		</selectKey>
	    INSERT INTO program
	      (id,pname,ptyp,psttime,pdetime,ptxt,actor,director,dizhi,fileurl,fabu_time)
	    VALUES
	      (#{id},#{pname,jdbcType=VARCHAR},#{ptyp,jdbcType=VARCHAR},#{psttime,jdbcType=TIMESTAMP},#{pdetime,jdbcType=TIMESTAMP},#{ptxt,jdbcType=VARCHAR},#{actor,jdbcType=VARCHAR},#{director,jdbcType=VARCHAR},#{dizhi,jdbcType=VARCHAR},#{fileurl,jdbcType=VARCHAR},#{fabuTime,jdbcType=TIMESTAMP})
	</insert>
	
	<delete id="delEntity" parameterType="long">
		delete from program
		<where>
			id = #{id}
		</where>
	</delete>
	
	<delete id="delBatchEntity" parameterType="String">
		delete from program
		<where>
			<if test="ids != null">
				id in 
				(
					<foreach collection="ids" index="index" separator="," item="item" >
						#{item}
					</foreach>
				)
			</if>
		</where>
	</delete>
	
	<update id="editEntity" parameterType="com.surfilter.scma.model.Program">
		update program
		<set>
			<if test="pname != null">pname=#{pname},</if>
			<if test="ptyp != null">ptyp=#{ptyp},</if>
			<if test="psttime != null">psttime=#{psttime},</if>
			<if test="pdetime != null">pdetime=#{pdetime},</if>
			<if test="ptxt != null">ptxt=#{ptxt},</if>
			<if test="actor != null">actor=#{actor},</if>
			<if test="director != null">director=#{director},</if>
			<if test="dizhi != null">dizhi=#{dizhi},</if>
			<if test="fileurl != null">fileurl=#{fileurl},</if>
			<if test="fabuTime != null">fabu_time=#{fabuTime}</if>

		</set>
		where id = #{id}
	</update>
	
	
	<select id="count" resultType="long" parameterType="com.surfilter.scma.model.Program">
		SELECT count(1) from program
		<where>
			<if test="id != null">id = #{id}</if>
			<if test="pname != null and pname !='' "> AND pname = #{pname}</if>
			<if test="ptyp != null and ptyp !='' "> AND ptyp = #{ptyp}</if>
			<if test="psttimeBefore != null"> AND psttime >= #{psttimeBefore}</if>
			<if test="psttimeAfter != null"> AND <![CDATA[psttime <= #{psttimeAfter}]]></if>
			<if test="pdetimeBefore != null"> AND pdetime >= #{pdetimeBefore}</if>
			<if test="pdetimeAfter != null"> AND <![CDATA[pdetime <= #{pdetimeAfter}]]></if>
			<if test="ptxt != null and ptxt !='' "> AND ptxt = #{ptxt}</if>
			<if test="actor != null and actor !='' "> AND actor = #{actor}</if>
			<if test="director != null and director !='' "> AND director = #{director}</if>
			<if test="dizhi != null and dizhi !='' "> AND dizhi = #{dizhi}</if>
			<if test="fileurl != null and fileurl !='' "> AND fileurl = #{fileurl}</if>
			<if test="fabuTimeBefore != null"> AND fabu_time >= #{fabuTimeBefore}</if>
			<if test="fabuTimeAfter != null"> AND <![CDATA[fabu_time <= #{fabuTimeAfter}]]></if>

		</where>
	</select>
	
	<select id="list" resultMap="programResultMap" parameterType="com.surfilter.scma.model.Program">
		SELECT 
        	t.id AS id,
        	t.pname AS pname,
        	t.ptyp AS ptyp,
        	t.psttime AS psttime,
        	t.pdetime AS pdetime,
        	t.ptxt AS ptxt,
        	t.actor AS actor,
        	t.director AS director,
        	t.dizhi AS dizhi,
        	t.fileurl AS fileurl,
        	t.fabu_time AS fabuTime
        FROM
        	program t
        <where>	
			<if test="id != null">id = #{id}</if>
			<if test="pname != null and pname != '' "> AND pname = #{pname}</if>
			<if test="ptyp != null and ptyp != '' "> AND ptyp = #{ptyp}</if>
			<if test="psttimeBefore != null"> AND psttime >= #{psttimeBefore}</if>
			<if test="psttimeAfter != null"> AND <![CDATA[psttime <= #{psttimeAfter}]]></if>
			<if test="pdetimeBefore != null"> AND pdetime >= #{pdetimeBefore}</if>
			<if test="pdetimeAfter != null"> AND <![CDATA[pdetime <= #{pdetimeAfter}]]></if>
			<if test="ptxt != null and ptxt != '' "> AND ptxt = #{ptxt}</if>
			<if test="actor != null and actor != '' "> AND actor = #{actor}</if>
			<if test="director != null and director != '' "> AND director = #{director}</if>
			<if test="dizhi != null and dizhi != '' "> AND dizhi = #{dizhi}</if>
			<if test="fileurl != null and fileurl != '' "> AND fileurl = #{fileurl}</if>
			<if test="fabuTimeBefore != null"> AND fabu_time >= #{fabuTimeBefore}</if>
			<if test="fabuTimeAfter != null"> AND <![CDATA[fabu_time <= #{fabuTimeAfter}]]></if>
			<if test="isExport !=null and isExport =='true'">
				 AND t.COMMAND_FILE_ID IN (
 					<foreach collection="ids" index="index" separator="," item="item" >
  						${item}
					</foreach>
				 )
			</if>

		</where>
		<if test="sort !=null and sort !=''">
			ORDER BY ${sort} ${order}
		</if>
	</select>
	
	<select id="getEntityById" parameterType="long" resultType="com.surfilter.scma.model.Program">
		SELECT 
        	t.id AS id,
        	t.pname AS pname,
        	t.ptyp AS ptyp,
        	t.psttime AS psttime,
        	t.pdetime AS pdetime,
        	t.ptxt AS ptxt,
        	t.actor AS actor,
        	t.director AS director,
        	t.dizhi AS dizhi,
        	t.fileurl AS fileurl,
        	t.fabu_time AS fabuTime
        FROM program t
        WHERE id = #{id}
	</select>
</mapper>
