body{ margin: 0; padding: 0; font-size: 12px; font-family: "微软雅黑"; background:#0B6CE6 url("../../../images/skin2_leftbg.png") no-repeat left bottom;}
ul{ list-style: none; margin: 0; padding: 0;}
a{ text-decoration: none;}
.setting{display:none; position: absolute; top:100px; right: 40px; width: 55px; height: 36px; cursor: pointer;
    background: #fa9b1a url("../../../images/setting.png") no-repeat center; text-align: center; opacity: 0.3;z-index: 999;
    -webkit-border-radius: 6px 0 0 6px; -moz-border-radius: 6px 0 0 6px;border-radius: 6px 0 0 6px;}
.setting:hover{ opacity: 1;}
/*面包屑*/
.breadcrumbs { position: relative;
    border-bottom: 1px solid #e5e5e5; background-color: #f5f5f5;
     min-height: 30px;line-height: 30px;
    padding: 0 12px 0 0; display: block;
}
.icon-home{ background: url("../../../images/home.png") no-repeat; display: inline-block; width: 20px; height: 20px; vertical-align: middle;}
.breadcrumb { background-color: transparent;
    display: inline-block;line-height: 24px;
    margin: 3px 22px 0 10px;
    padding: 0;  font-size: 13px;
    color: #333;}
.breadcrumb>li { display: inline-block;}

.breadcrumb a { display: inline-block; padding: 0 4px; color: #0088cc;}
.breadcrumb a:hover{ color: red;}
.breadcrumb a.active {color: #555;}

.layout-split-west{ border-right: 0;}
.skin_head{ height: 71px; padding-right: 40px; background: url("../../../images/skin2_topbg.png") no-repeat center;}
.skin_head_top{ background: url("../../../images/top1_bg.png") repeat-x; height: 29px; line-height: 29px; display:none; }
.skin_head_wel{ color: #fff; padding-left: 10px;}
.skin_head_wel span{ color: red;}
.input-warning{ border:#FF0000 solid 1px}
.skin_head_logo{ padding-left: 10px;}

.breadcrumbs  .skin_head_wel{ color: #444; display:block; float:right; margin-right:10px;}
.breadcrumbs  .skin_head_wel span{ color: red;}
.skins_left{width:0px;}
.skin_left{ width:0px; margin-left: 10px; background: url("../../../images/left_bg.png") repeat;}
.skin_center{ background: #fff; padding-right: 40px;}
/*下拉*/
.pullDown{z-index: 1;position: absolute; top:-1px; right:40px;}
.pullDownList{height: 50px; position: relative;z-index: 2; list-style: none; margin:0 ; padding: 0;}
.pullDownList li{width:85px; float:left;color: #fefcfc;font-size: 13px;position: relative; list-style: none;
 padding: 5px 0 5px 0px; margin-bottom: 10px; cursor: pointer; text-align:center;}
  .pullDownList li i{margin:0 auto;}
.listi1{ background: url("../../../images/hygl/hygl_1.png"); display: block; width: 45px; height: 45px; }
.listi2{ background: url("../../../images/xxaq/xxaq_1.png"); display: block; width: 45px; height: 45px; }
.listi3{ background: url("../../../images/wlaq/wlaq_1.png"); display: block; width: 45px; height: 45px; }
.listi4{ background: url("../../../images/yjxc/yjxc_1.png"); display: block; width: 45px; height: 45px; }
.listi5{ background: url("../../../images/xtgl/xtgl_1.png"); display: block; width: 45px; height: 45px; }
.pullDownList li a{color: #fefcfc;font-size: 13px; text-decoration: none;}
.pullDownList li.menuliselected{background: #908E8E;}
.pullDownList li.menuliselected span{top: 14px;right: 7px;border-left: 4px solid transparent;border-top: 4px solid #fff;border-right:4px solid transparent;border-bottom: 0;}
.pullDownList li.menulihover{background: #a90000;}
/*下拉详细列表具体分类*/
.yMenuListCon{width: 600px;height:480px;position: absolute;z-index:999999;top: 72px;right:2px;overflow-y: auto; border: 1px solid #ccc; display: none; background-color:#fff;
-webkit-border-radius: 0 5px 5px 0; -moz-border-radius: 0 5px 5px 0; border-radius:0 5px 5px 0;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}
.yMenuListCon p{width:auto;color: #7f7e7e;font-size: 12px;margin: 5px 0 10px -1px;overflow: hidden;}
.yMenuListCon p a{color: #7f7e7e;font-size: 12px;padding: 0 8px;display: inline-block;float: left;margin-top: 5px; }
.yMenuListCon p a.ecolor610{color: #a90000;}
.yMenuListCon p a:hover{color: #a90000;text-decoration: underline;}
.yMenuListConin{display: none; background: #fff;padding:0 10px;height:480px;}
.yMenuLCinList{overflow: hidden;}
/*详细分类标题*/
.yMenuLCinList h3{position: relative;height: 20px;width: auto;margin: 15px auto 0;border-bottom: 1px solid #666;}
.yMenuLCinList h3 a{font-size: 14px;color: #2d2d2d;position: absolute;bottom: 0px;display: block;}
.yMenuLCinList h3 .yListName{display: block;height: 20px;line-height: 20px;padding-top: 17px;padding-left:10px;left: 0;}
.skin_left  .pullDown{ display: none;}

/*右上角操作小图标*/
.skin_head .skin_head_ico{ display: none;}
.skin_head_ico li{ float: left;  margin-top: 2px;}
.skin-tool{display:inline-block; width:27px; height:23px; background:url(../../../images/top_bar.png);}
.skin-tool-msg{background-position: 1px 0;}
.skin-tool-set{background-position: -26px 0;}
.skin-tool-resource{background-position:-333px 0;}
.skin-tool-dashbord{background-position:-87px 0;}
.skin-tool-netSecu{background-position:-121px 0;}
.skin-tool-ip{background-position:-154px 0;}
.skin-tool-message{background-position:-188px 0;}
.skin-tool-phone{background-position: -214px 0;}
.skin-tool-zbdp{background-position:-243px 0;}
.skin-tool-exit{background-position:-278px 0;}
.skin-tool-szpf{background-position:-307px 0;}
.skin-tool-link{background-position:-392px 0;}
.skin-tool-3djf{background-position: -863px 0;}
.msg-num{ background-color: #ff6600; width:16px; height:16px; line-height:18px; color: #fff;
    -moz-border-radius:8px;  /*** Gecko browsers ****/
    -webkit-border-radius:8px;/*** Webkit browsers ****/
    border-radius:8px;  /*** W3C syntax ****/ text-align:center;
    position:absolute;  font-family:Arial, Helvetica, sans-serif; margin:0px; font-size:12px;}

.side_right{ width: 40px; background: #0C62CE; height: 100%; position: absolute; top: 0; right: 0; bottom: 0; z-index: 999;padding-top: 14px;}
.side_right .skin-tool{display:block;}
.side_right .skin_head_ico li{ width: 40px; text-align: center; padding: 5px 10px;}
.side_right .skin_head_ico li:hover{ background-color: #2d58ac;}

/*选择菜单布局排列方式*/
.choose_mb{ background-color: #d1d1d1;}
.choose_center{ width: 800px; height: 460px; position: absolute; top: 50%; left: 50%; margin-top: -230px; margin-left: -400px;
    -moz-border-radius:20px;  /*** Gecko browsers ****/
    -webkit-border-radius:20px;/*** Webkit browsers ****/
    border-radius:20px;  /*** W3C syntax ****/
    background-color: #f0eeee; text-align: center;}
.choose_center h3{ padding-top:40px; font-size: 25px;}
.style_list{ width: 550px; margin: 0 auto;}
.style_list li{ float: left; margin-right: 20px;}
.style1{ background: url("../../../images/style1.png") no-repeat; width: 250px; height: 250px; display: block;}
.style2{ background: url("../../../images/style2.png") no-repeat; width: 250px; height: 250px; display: block;}
.style_list li span{ display: block; font-size: 18px; color: #444;}
.style_list li a:hover span{ color: red;}
.style_list li:hover .style1{background: url("../../../images/style1_hover.png") no-repeat;}
.style_list li:hover .style2{background: url("../../../images/style2_hover.png") no-repeat;}
.style_list li.active .style1{background: url("../../../images/style1_hover.png") no-repeat;}
.style_list li.ctive .style2{background: url("../../../images/style2_hover.png") no-repeat;}
/*左右UI设置*/
.UI_set{background-color: #d1d1d1;}
.set_main{ width: 960px; height: 550px; position: absolute; top: 70%; left: 50%; margin-top: -375px; margin-left: -480px; background-color: #fff; overflow: hidden;}
.set_tops{width: 950px; margin: 10px auto; }
.set_top{  border: 2px solid #666; height: 100px; line-height: 120px; position: relative; background-color:#ccc;}
.set_head{ font-size:14px; color:#444; margin-bottom:5px; border-left:5px solid #444; padding-left:10px;}
.set_top .logo_span{ font-size: 18px; display: block; float: left; margin-top: -14px;}
.set_logo{ margin: 10px 0 0 10px; float: left; cursor: pointer;}
.set_top_l{ width: 569px; float: left;}
.arrow_r{ width: 104px; float: left; margin: 40px 0 0 10px;}
.set_center{ width: 950px; margin:0px auto 20px auto; overflow: hidden; }
.set_navs{width: 150px; float: left; }
.set_nav{ width: 80px; height:360px; border: 2px solid #666;  position: relative; background-color:#ccc;}
.set_nav2{ width: 340px; float: left;  position: relative;}
.set_nav_list li{ float: left;position: relative; width: 80px; text-align: center; padding: 5px 0;}
.set_nav_list li .nav_span{ display: block;}
.nav_arrow{ position: absolute; top: 10px; left: 55px;}
.nav_arrow .arrow_r{ margin: 10px 0 0 10px;}
.nav_arrow span{font-size: 15px; display: inline-block; width:158px;float: left; margin: -19px 0 0 111px;}
.set_colors{ width: 400px; float: right;   position: relative;}
.set_color{ height:300px;border: 2px solid #666;}
.color_list{ margin: 20px 0 0 25px;}
.color_list li{  float: left; margin-right: 25px;}
.color_list li a{ display: block; border: 4px solid #fff;}
.color_list li a:hover{ border: 4px solid #ff0000;}
.color_list li a.active{ border: 4px solid #ff0000;}
.color_list .color_1{ background-color:#0d2c53;}
.color_list .color_2{ background-color:#0a7dde;}
.color_list .color_3{ background-color:#0aafde;}
.color_list .color_4{ background-color:#0adeaa;}
.color_list .color_5{ background-color:#de820a;}

/*上下UI设置*/
.set_nav_list2{ width: 370px; float: right;}
.set_nav_list2 li{ float: left;  padding: 0 10px; position: relative; text-align: center; height:100px; }
.set_nav_list2 li .nav_span{ display: block; height:45px; line-height: 55px;}
.set_color2{ float: left; position: relative;}
.nav_arrow2{ position: absolute; top: 110px; left: 180px;}
.nav_arrow2 span{ width: 200px; display: block; position: absolute; left: -90px; bottom: 0px;}
.nav_arrow3{ position: absolute; top: 115px; left: 180px;}
.nav_arrow3 span{ width: 200px; display: block; position: absolute; left: -55px; bottom: 20px;}

.set_nav_list li a{color: #444;font-size: 13px; text-decoration: none; display: block;}
.set_nav_list li.menuliselected{background: #ececec;}
.set_nav_list li.menulihover{background: #a2a3a3;}
.nav_choose{width: 100px;height:450px; display: none; background-color:#1598DA;position: absolute;z-index:2;top: 0px;left:82px;overflow: auto;
    -webkit-border-radius: 0 5px 5px 5px; -moz-border-radius:0 5px 5px 5px; border-radius:0 5px 5px 5px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);}
.nav_div ul{ margin: 0; padding: 0;}
.nav_div ul li a{ display: block;width: 100px; text-align: center; padding: 5px 0; border-bottom: 1px solid #0C81BB}
.nav_div ul li:hover{ background-color: #0c72a6;}
.logo_div{width: 420px;height:450px; display: none; background-color:#1598DA;position: absolute;z-index:2;top: 10px;left:370px;overflow: auto;
    -webkit-border-radius: 0 5px 5px 5px; -moz-border-radius:0 5px 5px 5px; border-radius:0 5px 5px 5px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);}
.logo_div ul{ margin: 0; padding: 0;}
.logo_div ul li a{ display: block;width: 400px; height: 80px; text-align: center; padding: 10px 0; border-bottom: 1px solid #0C81BB}
.logo_div ul li:hover{ background-color: #0c72a6;}
.nav_choose2{width: 400px;height:100px; display: none; background-color:#1598DA;position: absolute;z-index:2;top: 100px;right:10px;overflow: hidden;
    -webkit-border-radius: 5px 5px 5px 5px; -moz-border-radius:5px 5px 5px 5px; border-radius:5px 5px 5px 5px;;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);}
.nav_div2 ul{ margin: 0; padding: 0;}
.nav_div2 ul li a{ display: block;width: 80px; height:100px; padding-top:30px; text-align: center; float: left;  border-right: 1px solid #0C81BB}
.nav_div2 ul li a:hover{ background-color: #0c72a6;}

.set_nav_list2 li a{color: #444;font-size: 13px; text-decoration: none; display: block;}
.set_nav_list2 li.menuliselected{background: #ececec;}
.set_nav_list2 li.menuliselected .nav_span{color: #fff;}
.set_nav_list2 li.menulihover{background: #a2a3a3;}
