<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 	   xmlns:context="http://www.springframework.org/schema/context"
 	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 	   xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">
       
       <!-- 设置定时器的相关任务类 -->
       <bean id="testQuartz" class="com.ql.basepro.example.quartz.TestQuartz"/>
       
       <!-- 设置定时器类中执行的方法 -->
       <bean id="testQuartzMethod" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
       		<property name="targetObject"><!-- 指向定时任务类声明 -->
       			<ref bean="testQuartz"/>
       		</property>
       		<property name="targetMethod">
       			<value>execute</value>
       		</property>
       </bean>
       
       <!-- 设置调度器执行时间规则 -->
       <bean id="TargetTaskTimeConfig" class="org.springframework.scheduling.quartz.CronTriggerBean">
       		<property name="jobDetail" ref="testQuartzMethod"/><!-- 配置类引用 -->
       		<property name="cronExpression" value="0 * * * * ?"/><!-- 执行时间配置 -->
       </bean>
       
       <!-- 创建调度工厂 -->
       <bean id="SpringQuartzJobBeanFactory" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
       		<property name="triggers">
       			<list>
       				<ref bean="TargetTaskTimeConfig"/>
       			</list>
       		</property>
       </bean>
</beans>